/* Brand Card Styles */
  .brand-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: skyblue;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    max-width: 200px;
    margin: 0 10px;
    text-align: center;
    position: relative;
  }
  
  .brand-card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    transform: scale(1.05);
  }
  
  .brand-image-container {
    position: relative;
  }
  
  .delete-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(255, 255, 255, 0.8);
    padding: 5px;
    border-radius: 70%;
    cursor: pointer;
    color: red;
    font-size: 1.2rem;
  }
  
  .brand-card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    transform: scale(1.05);
  }
  
  .brand-image-container {
    position: relative;
  }
  
  .close-overlay {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.8);
  }
  
  .close-icon-button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 0.25rem;
    cursor: pointer;
  }
  
  .brand-card h2 {
    font-size: 1.25rem;
    margin-top: 10px;
    color: #333;
  }
  
  .brand-card p {
    font-size: 0.9rem;
    margin-top: 5px;
    color: #777;
  }
  
  /* Modal Styles */
  .modal-content {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    text-align: center;
  }
  
  .close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #555;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-control {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    width: 100%;
  }
  
  .add-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .add-button:hover {
    background-color: #0056b3;
  
  }
  